Flask
Flask-Cors
joblib
scikit-learn
pandas
datasets
pymysql
cryptography
flask-bcrypt
flask-jwt-extended
python-dotenv
google-generativeai
flask-socketio
discord.py
discord.py
python-telegram-bot
gunicorn
certifi
